* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: url('../../img/fondo.jpg');
    background-size: cover;
    font-family: 'calibri';
}

.volver {
    color: black;
    text-decoration: none;
    font-family: 'calibri';
    font-size: 15px;
    position: relative;
}

.return {
    border-radius: 50px;
    border: 2px solid;
    position: relative;
    top: 25%;
    background-color: transparent;
    height: 50px;
    width: 120px;
    background-color: #99c9bd;
    position: relative;
    top: 10px;
    margin: 10px;
}

.registro {
    width: 400px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    font-family: 'calibri';
    margin-bottom: 100px;
    box-shadow: 7px 13px 37px #000;
    border-radius: 50px;
}

.LogoRegistro {
    height: 120px;
    border-radius: 50%;
}

.registro h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 16px;
    border: 1px;
    font-family: 'calibri';
    font-size: 18px;
    border: 2px solid black;
    

    
}

.registro p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.registro a {
    text-decoration: underline;
}

.registro a:hover {
    text-decoration: underline;
}

.registro .button {
    width: 100%;
    border: none;
    padding: 12px;
    background: #99c9bd;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 50px;
}

.registro .button:hover {
    cursor: pointer;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.aceptar {
    position: relative;
    top: 22px;
    left: 15px;
}

.contenedor-principal {
    /* Nombre del contenedor principal */
    position: relative;
    min-height: 100%;
    /* Para asegurar que el contenido empuje al footer */
    bottom: 100%;
}


.pie-pagina {
    width: 100%;
    background-color: rgb(55, 84, 107);
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pie-pagina .grupo-1 .BOX figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .BOX h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;

}

.pie-pagina .grupo-1 .BOX p {
    color: #fdfdfd;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: black;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .BOX .red-social a:hover {
    color: aqua
}

.pie-pagina .grupo-2 {
    background-color: rgb(55, 84, 107);
    padding: 15px 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width: 800px) {
    .pie-pagina .grupo-1 {
        width: 100% grid-template-columns repeat
    }
}

a {
    border-radius: 50%;
    text-align: center;
    align-items: center;
}

img {
    border-radius: 50%;
}

.tito {
    position: relative;
    bottom: 3px;
    right: 3px;
}

.wha {
    position: relative;
    bottom: 5px;
    right: 5px;
}

.nosotros {
    color: #fff;
    text-decoration: none;
}
