*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
    background: url('/../app-autosplash/img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.logo
{
    border-radius: 50%;
    border: 2px solid black;
}
.controls
{
    border-radius: 20px;
    border: 2px solid #000;
    width: 340px;
    height: 50px;
}

.navbar {
    background-color: transparent;
    backdrop-filter: blur(500px);
    box-shadow: 5px 10px 12px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
}

.navbar .navbar-brand img {
    height: 90px;
    margin-right: 10px;
    border-radius: 50%;
}

.titulo 
{
    width: 200px;
    text-align: center;
    background-color: rgba(219, 219, 217);
}
.navbar .navbar-brand .titulo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0d1b2a;
    border: 2px solid white;
    border-radius: 20px;

}

.navbar .nav-link {
    font-size: 1.1rem;
    color: #0d1b2a;
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: gray;
}

.navbar .navbar-nav .nav-item .dropdown-menu {
    background-color: rgba(13, 27, 42, 0.8);
}

.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 1rem;
    color: gray;
}

.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: rgba(13, 27, 42, 0.9);
    color: gray;
}

.navbar .nav-item .nav-link img {
    border-radius: 50%;
}

.navbar .navbar-toggler {
    border-color: gray;
}

.navbar .navbar-toggler:hover {
    background-color: #a9b0ba;
}

.navbar .navbar-toggler-icon {
    color: b;
}

.user
{
    position: relative;
    right: 40px;
    top: 45px;
}

.sesion
{
    background-color: #0d1b2a;
    border-radius: 20px;
    width: 190px;
    border: 2px solid white;
}
.ini
{
    color: white;
    position: relative;
    top: 7px;
    text-align: center;
}
.user1
{
    height: 35px;
    position: relative;
    right: 6px;
}


.ubi
{
    border: 2px solid white;
    text-align: center;
    border-radius: 20px;
    margin: 10px ;
    background-color: #ffffff;
    width: 200px;
}

.citas
{
    text-align: center;
    border-radius: 20px;
    margin: 10px;
    background-color: #ffffff;    
    width: 200px;
}


.conocenos
{
    border: 2px solid white;
    text-align: center;
    border-radius: 20px;
    left: 5px;
    margin: 10px ;
    background-color: #ffffff;    
    width: 200px;
}

.contenedor-principal 
{
    min-height: 100vh; /* Asegurar que el contenido empuje al footer */
    bottom: 100%;
}


.pie-pagina
{
    width: 100%;
    background-color: rgb(55, 84, 107);
}
.pie-pagina .grupo-1 
{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1  figure
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nosotros
{
    text-decoration: none;
    color: #fff;
}
.pie-pagina .grupo-1 .BOX figure img
{
    width: 250px;
}
.pie-pagina .grupo-1 .BOX h2
{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;

}
.pie-pagina .grupo-1 .BOX p
{
    color: white;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a
{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: black;
    text-align: center; 
    transition: all 300ms ease;  
}
.pie-pagina .grupo-1 .BOX .red-social a:hover
{
color: aqua
}
.pie-pagina .grupo-2{
    background-color:rgb(55, 84, 107);
    padding: 15px 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width: 800px) 
{
    .pie-pagina .grupo-1{
        width: 100%
        grid-template-columns repeat
    }
}
a{
    border-radius: 50%;
    text-align: center;
    align-items: center;
}

.tito
{
    position: relative;
    bottom:3px;
    right: 3px;
}

.wha
{
    position: relative;
    bottom: 5px;
    right: 5px;
}



.wrapper {
    background: transparent;
    border: rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 7px 13px 37px #000;
    border-radius: 20px;
    padding: 30px 40px;
    margin: 30px auto; /* Centrar con margen */
    text-align: center;
    width: 1200px;
}
.wrapper h1
{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box
{
    position: relative;
    width: 100%;
    height: 50px;
}

.Carro
{
    height: 300px;
    border-radius: 20px;
}