html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-image: url('../../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Fija la imagen para que no se mueva al hacer scroll */
    background-position: center; /* Centra la imagen de fondo */
    position: relative; /* Asegura que el pseudo-elemento se posicione correctamente */
}



.custom-navbar {
    background-color:rgba(0, 0, 0, 0.694); /* Fondo negro con opacidad del 50% */
    backdrop-filter: blur(80px); /* Desenfoque del fondo */
    box-shadow: 0px 1px 2px black;
    height: 90px;
    padding: 10px 20px;
    position: fixed; /* Fija el navbar en la parte superior */
    width: 100%; /* Asegura que ocupe todo el ancho */
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo {
    width: 70px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid  #18282e; 
}

.navbar-title {
    border: 4px solid #18282e; /* Reducir el grosor del borde */
    font-weight: 200px; /* Hacer el texto aún más negrita */
    background-color: #f2f0d9;
    border-radius: 25px; /* Puedes ajustar el redondeo si lo deseas */
    margin: 0 20px;
    font-size: 1rem;
    color: #18282e;
    padding: 5px 10px; /* Reducir el padding para achicar el fondo */
}
h3{
    font-weight: 700;
}
h6{
    color: #f2f0d9;
}

.navbar-toggler {
    border: none;
}

.navbar-collapse {
    display: flex;
    justify-content: center; /* Centra las opciones de navegación */
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 15px; /* Espaciado uniforme entre los elementos de navegación */
}

.nav-link {
    border: 3px solid  #f2f0d9;
    color:  #f2f0d9;
    font-size: 1rem;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    text-decoration: none; /* Evita el subrayado en los enlaces */
    border-radius: 20px; /* Bordes redondeados para cada opción */
    background-color: #18282ecc; 
}

.nav-link i {
    margin-right: 5px;
}

.nav-link:hover {
    color: #041e2bbe;
    background-color: rgba(10, 73, 125, 0.719); 
}


        /* Contenedor principal centrado con fondo blanco */
        .contenedor-principal {
            background-color: white;
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            max-width: 800px;
            width: 100%;
        }

        /* Wrapper del contenido */
        .content-wrapper {
            text-align: center;
        }

        /* Título de la app */
        .app-title {
            color: #333;
            font-size: 28px;
            margin-bottom: 20px;
        }

        /* Descripción del aplicativo */
        .app-description {
            color: #555;
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 20px;
            padding: 0 15px;
        }

        /* Wrapper de la imagen */
        .image-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        /* Imagen de la app */
        .app-image {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        /* Estilos responsivos */
        @media (max-width: 768px) {
            .contenedor-principal {
                padding: 20px;
            }

            .app-title {
                font-size: 24px;
            }

            .app-description {
                font-size: 14px;
                padding: 0 10px;
            }
        }

        @media (max-width: 480px) {
            .contenedor-principal {
                padding: 15px;
            }

            .app-title {
                font-size: 20px;
            }

            .app-description {
                font-size: 13px;
                padding: 0 5px;
            }
        }

@media (max-width: 768px) {
    .navbar-title {
        font-size: 1.2rem;
        margin: 0 5px;
    }

    .nav-link {
        font-size: 0.9rem;
        padding: 10px 15px; /* Aumenta el padding para hacer el fondo más largo */
    }

    .navbar-collapse {
        display: flex;
        flex-direction: column; /* Muestra las opciones en columna en pantallas pequeñas */
        background-color: rgba(0, 0, 0, 0.95); /* Fondo más oscuro y ligeramente transparente */
        width: 100%;
        border-radius: 10px; /* Bordes redondeados para el menú desplegable */
        transition: max-height 0.3s ease; /* Animación suave para el despliegue y recogida */
        overflow: -moz-hidden-unscrollable; /* Oculta el contenido desbordado durante la animación */
        max-height: 0; /* Inicialmente colapsado */
    }

    .navbar-collapse.show {
        max-height: 1000px; /* Ajusta el valor según la altura del contenido. Asegúrate de que sea lo suficientemente alto para todo el contenido */
    }

    .navbar-nav {
        flex-direction: column; /* Ajusta la disposición para pantallas pequeñas */
        align-items: center; 
    }

    .nav-item {
        margin: 10px 0; /* Espaciado vertical entre los elementos de navegación */
    }
}


 /* Estilos básicos del modal */
 .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
        overflow: hidden;
    }

    .modal-content {
        background-color: white;
        margin: 10% auto;
        padding: 20px;
        border-radius: 10px;
        width: 80%;
        max-width: 800px;
        position: relative;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .close {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 1.5rem;
        cursor: pointer;
        color: #aaa;
    }

    .close:hover,
    .close:focus {
        color: #000;
    }


/* Footer Styles */
.footer {
    background-color: #003366; /* Azul oscuro rey */
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    max-height: 60px; /* Tamaño reducido para las imágenes */
    width: auto;
    border-radius: 50%; /* Imágenes redondas */
}

.footer-about {
    flex: 1;
    margin: 20px;
}

.footer-about h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-about p {
    font-size: 16px;
    line-height: 1.6;
}

.footer-social {
    flex: 1;
    margin: 20px;
}

.footer-social h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icon img {
    height: 40px; /* Tamaño reducido para las imágenes sociales */
    width: 40px; /* Tamaño reducido para las imágenes sociales */
    border-radius: 50%; /* Imágenes redondas */
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #002244; /* Color de la línea superior */
    padding-top: 10px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-logo, .footer-about, .footer-social {
        margin-bottom: 20px;
    }

    .footer-logo img, .social-icon img {
        max-height: 50px; /* Ajuste en el tamaño para pantallas pequeñas */
    }
}
